* {
  box-sizing: border-box;
}

.container {
  background-color: #eee;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card {
  width: 300px;
  height: 400px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 1;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  background-color: #fff;
  align-items: center;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.3s;
}

.details h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: #565656;
  letter-spacing: 1px;
}

.card:hover .details,
.card:hover .p {
  transform: none;
}

.card:hover img {
  transform: scale(1.2);
}

.name {
  margin-left: 15px;
}

.card-hidden {
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
