.results {
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.results_title {
  position: absolute;
  top: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(#b88746, #fdf5a6);
  -webkit-background-clip: text;
  background-clip: 0;
  color: transparent;
}

.results__button {
  position: absolute;
  text-align: center;
  top: 102px;
  cursor: pointer;
  background: linear-gradient(#b88746, #fdf5a6);
  color: #191919;
  border: none;
  border-radius: 15px;
  padding: 10px 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.results__button:hover {
  background: linear-gradient(#fdf5a6, #b88746);
}

.oscar-image {
  max-height: 30px;
  margin-left: 20px;
}
